# Core ML/Deep Learning
--find-links https://download.pytorch.org/whl/cu121
torch
torchvision
accelerate
einops
numpy
scipy
imageio[ffmpeg]

# Configuration and Experiment Management
hydra-core
hydra-colorlog
omegaconf
wandb
submitit


mujoco
gymnasium
gym

# Development and Debugging
ipython
ipdb
jupyter-core
jupytext
matplotlib

# System and Environment
setuptools
wheel
pip
tqdm
